Load the Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
# reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [3]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [4]:
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.movie_id.unique().shape[0]

In [5]:
ratings.user_id.value_counts()

user_id
405    737
655    685
13     636
450    540
276    518
      ...
36      20
418     20
558     20
441     20
895     20
Name: count, Length: 943, dtype: int64

In [6]:
print("The number of user:",n_users)
print("The number of n_items:",n_items)

The number of user: 943
The number of n_items: 1682

Create pivot table for user and movie based on ratings

In [7]:
datama=ratings.pivot_table(index='user_id',columns='movie_id',values='rating')

In [8]:
#Replace with nan with 0
data_matrix=datama.replace(np.nan,0)

In [9]:
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Find Cosine Similatity for user and Item

In [10]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

In [11]:
pd.DataFrame(item_similarity)

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,2.220446e-16,5.976178e-01,0.669755,5.450621e-01,0.713286,0.883656,0.379021,0.518886,0.503712,0.726065,...,0.964613,1.0,1.000000,1.000000,0.964613,1.0,1.0,1.0,0.952817,0.952817
1,5.976178e-01,2.220446e-16,0.726931,4.974292e-01,0.681164,0.916437,0.616597,0.662998,0.744748,0.828918,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.921701,0.921701
2,6.697552e-01,7.269308e-01,0.000000,6.751336e-01,0.787043,0.893278,0.627079,0.799206,0.726331,0.841896,...,1.000000,1.0,1.000000,1.000000,0.967708,1.0,1.0,1.0,1.000000,0.903125
3,5.450621e-01,4.974292e-01,0.675134,1.110223e-16,0.665761,0.909692,0.510717,0.509764,0.580956,0.747439,...,1.000000,1.0,0.905978,0.905978,0.962391,1.0,1.0,1.0,0.943587,0.924782
4,7.132865e-01,6.811638e-01,0.787043,6.657605e-01,0.000000,0.962701,0.665231,0.740839,0.727552,0.944547,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.905789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1678,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1679,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1680,9.528169e-01,9.217006e-01,1.000000,9.435867e-01,1.000000,1.000000,0.948502,0.917967,0.942640,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.000000,1.000000
1681,9.528169e-01,9.217006e-01,0.903125,9.247823e-01,0.905789,1.000000,0.948502,1.000000,0.928300,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.000000

Using formula for user and item we are calcuating the score value

In [12]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating.values[:, np.newaxis])
        pred = mean_user_rating.values[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

2. Code Components
Letâ€™s analyze each part of the code:

a. mean_user_rating.values[:, np.newaxis]
mean_user_rating is a 1D array of shape (num_users,) containing the mean rating for each user.

[:, np.newaxis] reshapes it into a 2D array of shape (num_users, 1) for broadcasting.

b. similarity.dot(ratings_diff)
similarity is the user-user similarity matrix of shape (num_users, num_users).

ratings_diff is the matrix of rating deviations (actual ratings minus mean ratings) of shape (num_users, num_items).

The dot product similarity.dot(ratings_diff) results in a matrix of shape (num_users, num_items).

c. np.array([np.abs(similarity).sum(axis=1)])
np.abs(similarity).sum(axis=1) computes the sum of absolute similarities for each user, resulting in a 1D array of shape (num_users,).

Wrapping it in np.array([...]) converts it into a 2D array of shape (1, num_users).

d. .T (Transpose)
The transpose operation converts the 2D array from shape (1, num_users) to shape (num_users, 1).

3. Why Transpose is Needed
The division operation in the formula:

requires the shapes of the numerator and denominator to align for broadcasting.

similarity.dot(ratings_diff) has shape (num_users, num_items).

The denominator (sum of absolute similarities) needs to have shape (num_users, 1) to divide each row of the numerator by the corresponding sum of similarities.

Without the transpose:

The denominator would have shape (1, num_users).

Broadcasting would attempt to divide each column of the numerator by the denominator, which is incorrect.

With the transpose:

The denominator has shape (num_users, 1).

Broadcasting divides each row of the numerator by the corresponding sum of similarities, which is the intended behavior.

In [55]:
data_matrix.dot(item_similarity)

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,616.428901,664.653086,746.965311,598.695265,746.895121,861.239113,614.121389,640.125900,672.204338,768.310352,...,970.332404,957.025412,964.183172,964.183172,957.561379,979.390892,979.390892,979.390892,944.864780,935.755460
2,149.928769,185.857076,185.418658,168.599311,191.110165,202.767922,152.597478,168.958983,155.127700,181.010000,...,226.446251,226.791202,223.183521,223.183521,223.055189,223.898556,223.898556,223.898556,225.168694,226.403730
3,118.353879,128.171486,129.396607,121.411669,130.620441,141.436663,114.902015,124.035129,120.577110,131.568071,...,150.034062,150.322681,142.789070,142.789070,148.362888,140.973442,140.973442,140.973442,147.997642,150.006665
4,74.164114,83.319481,85.798899,78.763489,86.474094,96.620632,73.453167,81.028470,79.128511,90.265288,...,102.534061,102.455151,101.297548,101.297548,100.948439,96.475974,96.475974,96.475974,101.679125,102.840639
5,310.424915,320.352624,388.706670,305.515456,378.749907,466.078984,320.255770,327.776285,365.999511,409.723092,...,497.430734,491.614965,496.463530,496.463530,495.961038,502.973052,502.973052,502.973052,483.675488,485.977056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,127.869019,159.176383,162.715003,151.201140,164.289177,193.548792,135.663308,153.222188,139.924952,176.622928,...,206.957763,206.669111,199.921287,199.921287,201.851538,208.242461,208.242461,208.242461,203.561393,205.294065
940,227.021807,258.458740,290.115015,222.515657,285.344220,329.526945,224.100883,228.931693,243.113144,289.759774,...,363.572215,357.953407,362.738981,362.738981,359.550311,363.982653,363.982653,363.982653,357.072408,358.022161
941,44.615597,62.938190,63.373646,58.330925,69.191369,80.282412,45.086406,58.953568,55.765495,70.633354,...,88.181938,88.097889,87.221223,87.221223,85.681481,88.301263,88.301263,88.301263,85.582358,86.327699
942,217.935278,243.362934,279.039306,220.667291,271.183312,305.163419,226.949858,216.993556,236.428363,270.036912,...,330.146861,323.014094,328.544719,328.544719,329.271697,332.693857,332.693857,332.693857,325.437585,330.300749
943,342.101435,342.329231,417.274889,325.830161,406.962657,526.736060,344.071082,364.016290,387.228660,467.529002,...,562.927177,562.474316,560.464452,560.464452,560.442052,573.000000,573.000000,573.000000,544.908978,546.603478

In [64]:
# This adds the row values in item similarity incuding negative sign, 1d array
(item_similarity).sum(axis=1)

array([1381.26770602, 1397.87767225, 1476.39823586, ..., 1665.19308647,
       1648.67109923, 1651.24638904])

In [65]:
#This adds the row values by considering all the values to be positive, 1d array
np.abs(item_similarity).sum(axis=1)

array([1381.26770602, 1397.87767225, 1476.39823586, ..., 1665.19308647,
       1648.67109923, 1651.24638904])

In [63]:
#This adds the row values by considering all the values to be positive, and saves it as 2d array
np.array([np.abs(item_similarity).sum(axis=1)])

array([[1381.26770602, 1397.87767225, 1476.39823586, ..., 1665.19308647,
        1648.67109923, 1651.24638904]])

In [66]:
data_matrix.dot(item_similarity)/np.array([np.abs(item_similarity).sum(axis=1)])

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.446278,0.475473,0.505938,0.443633,0.512667,0.547939,0.446243,0.463059,0.474916,0.515821,...,0.580579,0.576202,0.582478,0.582478,0.575717,0.588155,0.588155,0.588155,0.573107,0.566696
2,0.108544,0.132957,0.125589,0.124932,0.131178,0.129005,0.110883,0.122223,0.109599,0.121525,...,0.135490,0.136546,0.134829,0.134829,0.134108,0.134458,0.134458,0.134458,0.136576,0.137111
3,0.085685,0.091690,0.087643,0.089966,0.089658,0.089985,0.083492,0.089725,0.085188,0.088331,...,0.089770,0.090506,0.086261,0.086261,0.089201,0.084659,0.084659,0.084659,0.089768,0.090845
4,0.053693,0.059604,0.058114,0.058364,0.059356,0.061472,0.053374,0.058615,0.055905,0.060601,...,0.061349,0.061686,0.061195,0.061195,0.060693,0.057937,0.057937,0.057937,0.061673,0.062281
5,0.224739,0.229171,0.263280,0.226387,0.259973,0.296529,0.232710,0.237109,0.258581,0.275076,...,0.297628,0.295990,0.299922,0.299922,0.298188,0.302051,0.302051,0.302051,0.293373,0.294309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.092574,0.113870,0.110211,0.112040,0.112768,0.123140,0.098578,0.110839,0.098858,0.118579,...,0.123829,0.124430,0.120776,0.120776,0.121360,0.125056,0.125056,0.125056,0.123470,0.124327
940,0.164358,0.184894,0.196502,0.164884,0.195860,0.209652,0.162840,0.165606,0.171761,0.194536,...,0.217536,0.215515,0.219136,0.219136,0.216173,0.218583,0.218583,0.218583,0.216582,0.216819
941,0.032300,0.045024,0.042924,0.043223,0.047493,0.051077,0.032761,0.042646,0.039399,0.047421,...,0.052762,0.053042,0.052692,0.052692,0.051514,0.053028,0.053028,0.053028,0.051910,0.052280
942,0.157779,0.174095,0.189000,0.163514,0.186140,0.194151,0.164910,0.156970,0.167038,0.181295,...,0.197537,0.194479,0.198479,0.198479,0.197969,0.199793,0.199793,0.199793,0.197394,0.200031
943,0.247672,0.244892,0.282630,0.241440,0.279338,0.335121,0.250015,0.263325,0.273579,0.313885,...,0.336816,0.338652,0.338585,0.338585,0.336956,0.344104,0.344104,0.344104,0.330514,0.331025

In [13]:
# prediction Table
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

In [14]:
item_prediction

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.446278,0.475473,0.505938,0.443633,0.512667,0.547939,0.446243,0.463059,0.474916,0.515821,...,0.580579,0.576202,0.582478,0.582478,0.575717,0.588155,0.588155,0.588155,0.573107,0.566696
2,0.108544,0.132957,0.125589,0.124932,0.131178,0.129005,0.110883,0.122223,0.109599,0.121525,...,0.135490,0.136546,0.134829,0.134829,0.134108,0.134458,0.134458,0.134458,0.136576,0.137111
3,0.085685,0.091690,0.087643,0.089966,0.089658,0.089985,0.083492,0.089725,0.085188,0.088331,...,0.089770,0.090506,0.086261,0.086261,0.089201,0.084659,0.084659,0.084659,0.089768,0.090845
4,0.053693,0.059604,0.058114,0.058364,0.059356,0.061472,0.053374,0.058615,0.055905,0.060601,...,0.061349,0.061686,0.061195,0.061195,0.060693,0.057937,0.057937,0.057937,0.061673,0.062281
5,0.224739,0.229171,0.263280,0.226387,0.259973,0.296529,0.232710,0.237109,0.258581,0.275076,...,0.297628,0.295990,0.299922,0.299922,0.298188,0.302051,0.302051,0.302051,0.293373,0.294309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.092574,0.113870,0.110211,0.112040,0.112768,0.123140,0.098578,0.110839,0.098858,0.118579,...,0.123829,0.124430,0.120776,0.120776,0.121360,0.125056,0.125056,0.125056,0.123470,0.124327
940,0.164358,0.184894,0.196502,0.164884,0.195860,0.209652,0.162840,0.165606,0.171761,0.194536,...,0.217536,0.215515,0.219136,0.219136,0.216173,0.218583,0.218583,0.218583,0.216582,0.216819
941,0.032300,0.045024,0.042924,0.043223,0.047493,0.051077,0.032761,0.042646,0.039399,0.047421,...,0.052762,0.053042,0.052692,0.052692,0.051514,0.053028,0.053028,0.053028,0.051910,0.052280
942,0.157779,0.174095,0.189000,0.163514,0.186140,0.194151,0.164910,0.156970,0.167038,0.181295,...,0.197537,0.194479,0.198479,0.198479,0.197969,0.199793,0.199793,0.199793,0.197394,0.200031
943,0.247672,0.244892,0.282630,0.241440,0.279338,0.335121,0.250015,0.263325,0.273579,0.313885,...,0.336816,0.338652,0.338585,0.338585,0.336956,0.344104,0.344104,0.344104,0.330514,0.331025

In [16]:
#1. Select input item

input_item=34

In [17]:
#2. Convert the item_sim table into DataFrame
item_sim_table=pd.DataFrame(item_similarity)
item_sim_table

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,2.220446e-16,5.976178e-01,0.669755,5.450621e-01,0.713286,0.883656,0.379021,0.518886,0.503712,0.726065,...,0.964613,1.0,1.000000,1.000000,0.964613,1.0,1.0,1.0,0.952817,0.952817
1,5.976178e-01,2.220446e-16,0.726931,4.974292e-01,0.681164,0.916437,0.616597,0.662998,0.744748,0.828918,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.921701,0.921701
2,6.697552e-01,7.269308e-01,0.000000,6.751336e-01,0.787043,0.893278,0.627079,0.799206,0.726331,0.841896,...,1.000000,1.0,1.000000,1.000000,0.967708,1.0,1.0,1.0,1.000000,0.903125
3,5.450621e-01,4.974292e-01,0.675134,1.110223e-16,0.665761,0.909692,0.510717,0.509764,0.580956,0.747439,...,1.000000,1.0,0.905978,0.905978,0.962391,1.0,1.0,1.0,0.943587,0.924782
4,7.132865e-01,6.811638e-01,0.787043,6.657605e-01,0.000000,0.962701,0.665231,0.740839,0.727552,0.944547,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.905789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1678,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1679,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1680,9.528169e-01,9.217006e-01,1.000000,9.435867e-01,1.000000,1.000000,0.948502,0.917967,0.942640,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.000000,1.000000
1681,9.528169e-01,9.217006e-01,0.903125,9.247823e-01,0.905789,1.000000,0.948502,1.000000,0.928300,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.000000

In [18]:
#3. Find similarity item for 34  using cosine table

similar_input_item= item_sim_table[input_item].sort_values(ascending=True).head(5).index

In [19]:
item_sim_table[33]

0       0.909346
1       0.927658
2       0.820992
3       0.872067
4       0.889218
          ...
1677    1.000000
1678    1.000000
1679    1.000000
1680    1.000000
1681    1.000000
Name: 33, Length: 1682, dtype: float64

In [20]:
item_sim_table[34]

0       0.863243
1       0.912653
2       0.953685
3       0.937068
4       0.958712
          ...
1677    1.000000
1678    1.000000
1679    1.000000
1680    1.000000
1681    1.000000
Name: 34, Length: 1682, dtype: float64

In [21]:
similar_input_item=similar_input_item.to_list()

In [22]:
similar_input_item

[34, 77, 246, 1030, 794]

# NOW WHAT WE ARE DOIN IS WE ARE GOING TO FIND OUT THE USERS WHO WATCHED THE ITEM AND SIMILAR ITEMS AND SAVE THEM IN A LIST

In [23]:
similar_item_userid_list=[]
for sim_item in similar_input_item:
    sim=list(ratings[ratings['movie_id']==sim_item]['user_id'])
    similar_item_userid_list.append(sim)

In [24]:
ratings[ratings['movie_id']==33]

       user_id  movie_id  rating  unix_timestamp
333          1        33       4       878542699
571        301        33       4       882078228
1946       264        33       3       886122644
2971        94        33       3       891721919
4898        95        33       3       880571704
...        ...       ...     ...             ...
93888      466        33       4       890285113
93906      425        33       4       878738435
94180      394        33       4       880889259
95928      796        33       3       893048471
97349      682        33       4       888520864

[97 rows x 4 columns]

In [25]:
ratings[ratings['movie_id']==33]['user_id']

333        1
571      301
1946     264
2971      94
4898      95
        ...
93888    466
93906    425
94180    394
95928    796
97349    682
Name: user_id, Length: 97, dtype: int64

In [26]:
similar_item_userid_list

[[286, 276, 94, 184, 1, 551, 297],
 [92,
  222,
  224,
  194,
  59,
  291,
  262,
  64,
  83,
  128,
  106,
  135,
  334,
  301,
  276,
  184,
  188,
  201,
  110,
  234,
  256,
  286,
  320,
  372,
  345,
  244,
  381,
  60,
  375,
  42,
  330,
  56,
  43,
  115,
  270,
  417,
  280,
  405,
  183,
  343,
  94,
  474,
  347,
  313,
  416,
  271,
  269,
  497,
  506,
  109,
  504,
  7,
  246,
  429,
  363,
  346,
  76,
  95,
  72,
  399,
  311,
  566,
  496,
  374,
  618,
  450,
  505,
  293,
  318,
  593,
  524,
  457,
  328,
  332,
  659,
  650,
  178,
  1,
  655,
  299,
  453,
  643,
  308,
  268,
  49,
  653,
  454,
  664,
  766,
  528,
  532,
  437,
  741,
  487,
  215,
  551,
  764,
  577,
  586,
  478,
  371,
  533,
  378,
  521,
  774,
  500,
  721,
  389,
  711,
  881,
  545,
  843,
  823,
  633,
  627,
  870,
  815,
  916,
  893,
  455,
  130,
  561,
  749,
  145,
  647,
  303,
  393,
  394,
  442,
  495,
  267,
  65,
  682,
  690,
  922,
  896,
  186,
  156,
  452,
  554,
  932,
  243,
  758,
  864,
  693,
  847,
  498,
  796,
  897,
  719,
  889],
 [50,
  269,
  99,
  276,
  79,
  150,
  63,
  89,
  323,
  32,
  58,
  367,
  268,
  139,
  345,
  94,
  347,
  27,
  113,
  294,
  344,
  305,
  214,
  453,
  416,
  314,
  359,
  1,
  193,
  445,
  176,
  432,
  6,
  376,
  130,
  26,
  232,
  470,
  69,
  244,
  387,
  189,
  503,
  77,
  582,
  542,
  496,
  500,
  435,
  392,
  439,
  560,
  174,
  212,
  620,
  354,
  145,
  85,
  490,
  467,
  433,
  291,
  654,
  303,
  468,
  736,
  782,
  595,
  717,
  417,
  222,
  828,
  567,
  178,
  889,
  894,
  727,
  682,
  327,
  116,
  104,
  334,
  669,
  790,
  473,
  92,
  221,
  919,
  557,
  637,
  893,
  521,
  287,
  834,
  730,
  916,
  697,
  762,
  578,
  592,
  655,
  643,
  854,
  699,
  624,
  770,
  880,
  635,
  819,
  662,
  912,
  463,
  917,
  342,
  902,
  296,
  936,
  870,
  73,
  778,
  928,
  486,
  243,
  399],
 [38,
  339,
  102,
  457,
  450,
  504,
  195,
  405,
  497,
  642,
  279,
  880,
  648,
  536,
  932,
  318,
  70,
  541,
  885,
  795],
 [42,
  92,
  13,
  110,
  291,
  18,
  385,
  429,
  314,
  436,
  437,
  256,
  270,
  152,
  56,
  487,
  523,
  311,
  643,
  276,
  361,
  416,
  405,
  690,
  659,
  295,
  393,
  450,
  878,
  864,
  477,
  399,
  796,
  943,
  712,
  871,
  919,
  561,
  655,
  846,
  904,
  642,
  883,
  130,
  934,
  880]]

In [27]:
#6. Convert all the list as single
import itertools
similar_item_userid_single_list=list(itertools.chain.from_iterable(similar_item_userid_list))

In [28]:
len(similar_item_userid_single_list)

348

In [29]:
Unique_userid_similar_item=set(similar_item_userid_single_list)

In [30]:
len(Unique_userid_similar_item)

274

In [31]:
#8. Input user watched movie_list

input_item_watched_userid=list(ratings[ratings['movie_id']==input_item]['user_id'].values)

In [32]:
ratings[ratings['movie_id']==34]['user_id'].values

array([286, 276,  94, 184,   1, 551, 297])

In [33]:
#9. Create a list which should have a list of user_id to whom input item can be recommended

recom=[]
for per_id in Unique_userid_similar_item:
    if(per_id in input_item_watched_userid):
        pass
    else:
        recom.append(per_id)

In [34]:
len(recom)

267

In [35]:
sorted(recom)

[6,
 7,
 13,
 18,
 26,
 27,
 32,
 38,
 42,
 43,
 49,
 50,
 56,
 58,
 59,
 60,
 63,
 64,
 65,
 69,
 70,
 72,
 73,
 76,
 77,
 79,
 83,
 85,
 89,
 92,
 95,
 99,
 102,
 104,
 106,
 109,
 110,
 113,
 115,
 116,
 128,
 130,
 135,
 139,
 145,
 150,
 152,
 156,
 174,
 176,
 178,
 183,
 186,
 188,
 189,
 193,
 194,
 195,
 201,
 212,
 214,
 215,
 221,
 222,
 224,
 232,
 234,
 243,
 244,
 246,
 256,
 262,
 267,
 268,
 269,
 270,
 271,
 279,
 280,
 287,
 291,
 293,
 294,
 295,
 296,
 299,
 301,
 303,
 305,
 308,
 311,
 313,
 314,
 318,
 320,
 323,
 327,
 328,
 330,
 332,
 334,
 339,
 342,
 343,
 344,
 345,
 346,
 347,
 354,
 359,
 361,
 363,
 367,
 371,
 372,
 374,
 375,
 376,
 378,
 381,
 385,
 387,
 389,
 392,
 393,
 394,
 399,
 405,
 416,
 417,
 429,
 432,
 433,
 435,
 436,
 437,
 439,
 442,
 445,
 450,
 452,
 453,
 454,
 455,
 457,
 463,
 467,
 468,
 470,
 473,
 474,
 477,
 478,
 486,
 487,
 490,
 495,
 496,
 497,
 498,
 500,
 503,
 504,
 505,
 506,
 521,
 523,
 524,
 528,
 532,
 533,
 536,
 541,
 542,
 545,
 554,
 557,
 560,
 561,
 566,
 567,
 577,
 578,
 582,
 586,
 592,
 593,
 595,
 618,
 620,
 624,
 627,
 633,
 635,
 637,
 642,
 643,
 647,
 648,
 650,
 653,
 654,
 655,
 659,
 662,
 664,
 669,
 682,
 690,
 693,
 697,
 699,
 711,
 712,
 717,
 719,
 721,
 727,
 730,
 736,
 741,
 749,
 758,
 762,
 764,
 766,
 770,
 774,
 778,
 782,
 790,
 795,
 796,
 815,
 819,
 823,
 828,
 834,
 843,
 846,
 847,
 854,
 864,
 870,
 871,
 878,
 880,
 881,
 883,
 885,
 889,
 893,
 894,
 896,
 897,
 902,
 904,
 912,
 916,
 917,
 919,
 922,
 928,
 932,
 934,
 936,
 943]

In [36]:
sorted(Unique_userid_similar_item)

[1,
 6,
 7,
 13,
 18,
 26,
 27,
 32,
 38,
 42,
 43,
 49,
 50,
 56,
 58,
 59,
 60,
 63,
 64,
 65,
 69,
 70,
 72,
 73,
 76,
 77,
 79,
 83,
 85,
 89,
 92,
 94,
 95,
 99,
 102,
 104,
 106,
 109,
 110,
 113,
 115,
 116,
 128,
 130,
 135,
 139,
 145,
 150,
 152,
 156,
 174,
 176,
 178,
 183,
 184,
 186,
 188,
 189,
 193,
 194,
 195,
 201,
 212,
 214,
 215,
 221,
 222,
 224,
 232,
 234,
 243,
 244,
 246,
 256,
 262,
 267,
 268,
 269,
 270,
 271,
 276,
 279,
 280,
 286,
 287,
 291,
 293,
 294,
 295,
 296,
 297,
 299,
 301,
 303,
 305,
 308,
 311,
 313,
 314,
 318,
 320,
 323,
 327,
 328,
 330,
 332,
 334,
 339,
 342,
 343,
 344,
 345,
 346,
 347,
 354,
 359,
 361,
 363,
 367,
 371,
 372,
 374,
 375,
 376,
 378,
 381,
 385,
 387,
 389,
 392,
 393,
 394,
 399,
 405,
 416,
 417,
 429,
 432,
 433,
 435,
 436,
 437,
 439,
 442,
 445,
 450,
 452,
 453,
 454,
 455,
 457,
 463,
 467,
 468,
 470,
 473,
 474,
 477,
 478,
 486,
 487,
 490,
 495,
 496,
 497,
 498,
 500,
 503,
 504,
 505,
 506,
 521,
 523,
 524,
 528,
 532,
 533,
 536,
 541,
 542,
 545,
 551,
 554,
 557,
 560,
 561,
 566,
 567,
 577,
 578,
 582,
 586,
 592,
 593,
 595,
 618,
 620,
 624,
 627,
 633,
 635,
 637,
 642,
 643,
 647,
 648,
 650,
 653,
 654,
 655,
 659,
 662,
 664,
 669,
 682,
 690,
 693,
 697,
 699,
 711,
 712,
 717,
 719,
 721,
 727,
 730,
 736,
 741,
 749,
 758,
 762,
 764,
 766,
 770,
 774,
 778,
 782,
 790,
 795,
 796,
 815,
 819,
 823,
 828,
 834,
 843,
 846,
 847,
 854,
 864,
 870,
 871,
 878,
 880,
 881,
 883,
 885,
 889,
 893,
 894,
 896,
 897,
 902,
 904,
 912,
 916,
 917,
 919,
 922,
 928,
 932,
 934,
 936,
 943]

In [37]:
sorted(input_item_watched_userid)

[np.int64(1),
 np.int64(94),
 np.int64(184),
 np.int64(276),
 np.int64(286),
 np.int64(297),
 np.int64(551)]

In [38]:
# Checking the common user_id list
list(set(Unique_userid_similar_item)&set(input_item_watched_userid))

[np.int64(1),
 np.int64(551),
 np.int64(297),
 np.int64(276),
 np.int64(184),
 np.int64(94),
 np.int64(286)]

In [39]:
item_pred=pd.DataFrame(item_prediction)
item_pred

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.446278,0.475473,0.505938,0.443633,0.512667,0.547939,0.446243,0.463059,0.474916,0.515821,...,0.580579,0.576202,0.582478,0.582478,0.575717,0.588155,0.588155,0.588155,0.573107,0.566696
2,0.108544,0.132957,0.125589,0.124932,0.131178,0.129005,0.110883,0.122223,0.109599,0.121525,...,0.135490,0.136546,0.134829,0.134829,0.134108,0.134458,0.134458,0.134458,0.136576,0.137111
3,0.085685,0.091690,0.087643,0.089966,0.089658,0.089985,0.083492,0.089725,0.085188,0.088331,...,0.089770,0.090506,0.086261,0.086261,0.089201,0.084659,0.084659,0.084659,0.089768,0.090845
4,0.053693,0.059604,0.058114,0.058364,0.059356,0.061472,0.053374,0.058615,0.055905,0.060601,...,0.061349,0.061686,0.061195,0.061195,0.060693,0.057937,0.057937,0.057937,0.061673,0.062281
5,0.224739,0.229171,0.263280,0.226387,0.259973,0.296529,0.232710,0.237109,0.258581,0.275076,...,0.297628,0.295990,0.299922,0.299922,0.298188,0.302051,0.302051,0.302051,0.293373,0.294309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.092574,0.113870,0.110211,0.112040,0.112768,0.123140,0.098578,0.110839,0.098858,0.118579,...,0.123829,0.124430,0.120776,0.120776,0.121360,0.125056,0.125056,0.125056,0.123470,0.124327
940,0.164358,0.184894,0.196502,0.164884,0.195860,0.209652,0.162840,0.165606,0.171761,0.194536,...,0.217536,0.215515,0.219136,0.219136,0.216173,0.218583,0.218583,0.218583,0.216582,0.216819
941,0.032300,0.045024,0.042924,0.043223,0.047493,0.051077,0.032761,0.042646,0.039399,0.047421,...,0.052762,0.053042,0.052692,0.052692,0.051514,0.053028,0.053028,0.053028,0.051910,0.052280
942,0.157779,0.174095,0.189000,0.163514,0.186140,0.194151,0.164910,0.156970,0.167038,0.181295,...,0.197537,0.194479,0.198479,0.198479,0.197969,0.199793,0.199793,0.199793,0.197394,0.200031
943,0.247672,0.244892,0.282630,0.241440,0.279338,0.335121,0.250015,0.263325,0.273579,0.313885,...,0.336816,0.338652,0.338585,0.338585,0.336956,0.344104,0.344104,0.344104,0.330514,0.331025

In [40]:
item_pred[input_item]

user_id
1      0.572414
2      0.139686
3      0.092378
4      0.062496
5      0.286815
         ...
939    0.122120
940    0.217996
941    0.053046
942    0.198270
943    0.332126
Name: 34, Length: 943, dtype: float64

In [41]:
# WE are studying the ratings of the input item given by recomended user_id , from that we obtain higest rating user|_id using a threshold value

highest_Rated=[]
input_item_pre=pd.DataFrame(item_pred[input_item])
input_item_pred=input_item_pre.T
for re in recom:
    value=input_item_pred[re].values
    if(value>=1):
        highest_Rated.append(re)

In [42]:
input_item_pre=pd.DataFrame(item_pred[input_item])

In [43]:
input_item_pre

               34
user_id
1        0.572414
2        0.139686
3        0.092378
4        0.062496
5        0.286815
...           ...
939      0.122120
940      0.217996
941      0.053046
942      0.198270
943      0.332126

[943 rows x 1 columns]

In [44]:
input_item_pre.T

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
34,0.572414,0.139686,0.092378,0.062496,0.286815,0.457489,0.931267,0.130499,0.0566,0.45916,...,0.374875,0.089246,0.321919,0.08228,0.206321,0.12212,0.217996,0.053046,0.19827,0.332126

In [48]:
highest_Rated=[]
for re in recom:
    value=input_item_pred[re].values
    if(value>=1):
        highest_Rated.append(re)

In [49]:
highest_Rated

[13, 655, 416, 450]

In [50]:
len(highest_Rated)

4

In [51]:
# Checking the common user list
list(set(recom)&set(input_item_watched_userid))

[]

In [52]:
def itembased(input_item,item_similarity,item_predictions,similar_item_count,thres):
    #Convert the user_sim table into DataFrame
    item_sim_table=pd.DataFrame(item_similarity)
    #Find similarity user for 78 using cosine table
    similar_input_item= item_sim_table[input_item].sort_values(ascending=True).head(similar_item_count).index
    #Convert in to list
    similar_item_input=list(similar_input_item) 
    #Using similar_user_input,can select movie id from ratings table
    similar_item_userid_list=[]
    for sim_item in similar_item_input:
        sim=list(ratings[ratings['movie_id']==sim_item]['user_id'])
        similar_item_userid_list.append(sim)
    #Converting as a whole list
    import itertools
    similar_item_userid_single_list=list(itertools.chain.from_iterable(similar_item_userid_list))
    #Unique movieid from the list
    Unique_userid_similar_item=set(similar_item_userid_single_list)
    #Input user watched movie_list
    input_item_watched_userid=list(ratings[ratings['movie_id']==input_item]['user_id'].values)
    #Create a list which should have recom movieid to the input user
    recom=[]
    for per_id in Unique_userid_similar_item:
        if(per_id in input_item_watched_userid):
            pass
        else:
            recom.append(per_id)
    #From recommendation list selecting only hightest rated(predicted) value
    highest_Rated=[]
    user_pred=pd.DataFrame(item_prediction)
    input_item_pre=pd.DataFrame(user_pred[input_item])
    input_item_pred=input_item_pre.T
    for re in recom:
        value=input_item_pred[re].values
        if(value>=thres):
            highest_Rated.append(re)
    highest_Rated
    return highest_Rated

In [53]:
#def userbased(input_user,user_similarity,user_predictions,similar_user_count,similar_user_movieid_count,thres):
Recommended_user=itembased(5,item_similarity,item_pred,5,0.8)

In [54]:
Recommended_user

[59, 279, 416, 450]